/* src/global.css */

@import url('./variables.css');

html, body, #root {
  padding:0;
  margin:0;
  height:100%;
  font-family: var(--font-family-primary);
  background: var(--color-white-1);
  color: var(--color-black-1);
}

* {
  box-sizing:border-box;
}

button {
  cursor: pointer;
}